{% extends 'HomieCircle/layout.html' %}

{% load static %}

{% block head %} 
    <title>HomePage</title>
{% endblock %} 
        
{% block body %} 

  <div class="bg-gray-100 rounded-lg shadow-lg p-6 space-y-8">
    {% include 'HomieCircle/create_post.html' %}
    <h2 class="text-2xl font-semibold mt-8 mb-4">News Feed</h2>

    {% for post in posts %}
      <div class="bg-white rounded-lg shadow-md p-4">
        <div class="flex items-center">
          <img class="h-12 w-12 rounded-full" src="{{ post.author.profile_pic.url }}" alt="Profile Picture">
          <div class="ml-4">
            <h3 class="text-lg font-semibold"><a href="{% url 'userView' userID=post.author.id %}">{{ post.author.name }}</a></h3>
            <p class="text-gray-600">Software Engineer</p>
          </div>
        </div>
        <p class="text-gray-700 text-lg">{{ post.post }}</p>
        {% if post.post_image %}
        <a href="{{ post.post_image.url }}">
          <img class="w-full h-64 object-cover object-center rounded-lg mt-4 mb-6" src="{{ post.post_image.url }}" alt="Post Image">
      </a>
        {% endif %}
        <div class="flex items-center justify-between">
          <div class="flex space-x-5">
            <button class="text-gray-600 flex items-center space-x-1 text-lg">
              <a href="{% url 'like_post' postID=post.id %}"><i class="fas fa-thumbs-up text-gray-400"></i></a>
              <span class="text-xs font-medium">{{ post.likes.count }}</span>
            </button>
            <button class="text-gray-600 flex items-center space-x-1 text-lg">
              <i class="fas fa-comment text-gray-400"></i>
              <span class="text-xs font-medium">7</span>
            </button>
            <button class="text-gray-600 flex items-center space-x-1 text-lg">
              <i class="fas fa-share text-gray-400"></i>
            </button>
          </div>
          {% if post.author == request.user.profile %}
          <div class="ml-auto">
            <a href="#" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg">Edit Post</a>
            <a href="{% url 'deletePost' postID=post.id %}" class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-lg">Delete Post</a>
          </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
