<!DOCTYPE html>
<html>
<head>
    <title>Post Doesn't Exist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 100px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center">
                    <h1 class="display-4">Post Doesn't Exist</h1>
                    <p class="lead">The requested post doesn't exist. Please go back to the <a href="{% url 'index' %}">homepage</a>.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
